html {
    background-color: #8EA693;
    font-size: 25px;
}
body {
  margin: 40px;  
}
p {
  text-align: justify;
  text-indent: 5%;
}
h1 {
    font-size: 35px; /*taille*/
    text-align: center;  
    color: white;
    text-shadow: 2px 2px black;
    width: 98%;
    margin: 0.5% auto;
    background-color: #1049E7;
    padding: 10px 10px 20px 10px;
    border: 5px solid black;
    font-weight : bold; /*met en gras*/
    text-decoration : underline; /*souligne le texte*/
}
h1:hover{
  background-color:black;
}
h2 {
  font-size: 35px; /*taille*/
  font-size: 2.5vw;
  text-align: center;  
  color: white;
  text-shadow: 2px 2px black;
  font-weight : bold; /*met en gras*/
  text-decoration : underline; /*souligne le texte*/
} 
h2:hover{
  background-color: black;
}
h3 {
  font-size: 25px; /*taille*/
  text-align: center;  
  color: #000000;
  text-decoration : underline; /*souligne le texte*/
}
h4 {
  font-size: 25px; /*taille*/  
  color: #000000;
  text-align: justify;
}
h5 {
  font-size: 30px; /*taille*/ 
  color: #CC0601;
  text-decoration: underline;
}
h6{
  font-size: 25px; /*taille*/ 
  color: #CC0601;
}
td { /* Toutes les cellules des tableaux... */
  border: 3px solid black; /* auront une bordure de 1px */
}
.pastd {
  border: 0;
}
th {
  border: 5px solid black; /* auront une bordure de 1px */
}
table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    text-align: justify;
}
.fondcouleur {
  background-color: #1049E7;
}
img {
  display: block;
  margin: 0 auto;
  border: 5px solid black;
}
video {
  display:block;
  width:65%;
  margin:0 auto 35px auto;
  padding: 10px 10px 10px 10px;
  background-color: black;
}
iframe {
  display:block;
  width:65%;
  height: 700px;
  margin:0 auto 35px auto;
  padding: 10px 10px 10px 10px;
  background-color: black;
}
.titrecanon {
  font-weight: bold;
  text-indent: 0%;
}
.alignement {
  text-align: justify;
}
.centre {
  text-align: center;
}
.gauche {
  text-align: left;
}
.droite {
  text-align: right;
}
.pasgras {
  font-weight: normal;
}
.gras {
  font-weight: bold;
}
.noindent {
  text-indent: 0%;
}
.passouligner {
  text-decoration: none;
}
.mois {
  text-decoration: none;
  color: white;
}
.pasretour {
  display:inline-block;
}
.liste {
  list-style-type: square;
}

