html {
  background-color: #C9E02B;
  font-family: 'Cinzel', serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
}
h1 {
  font-size: 30px;
  text-align: center;  
  color: #F60748;
  text-shadow: 2px 2px black;
}
p {
  font-size: 15px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 5px 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}